<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12 offset-xs-0">
            <h4 class="text-center text-danger mt-5">Help Page</h4>
            <p class="text-justify">This is Help Page content for Demo purpose... Lorem ipsum aptent ullamcorper aenean dolor potenti nisi lacinia quis luctus sit, ad et habitasse et
                aliquet habitasse nullam lobortis tincidunt tempus metus ultrices libero ultricies eu sollicitudin
                volutpat luctus tristique nunc quisque justo.</p>
            <p class="text-justify">Pulvinar hendrerit ut sodales rhoncus tempus pretium at, cras interdum rhoncus pellentesque mattis
                vivamus porttitor vehicula, risus adipiscing vitae tortor ligula fusce.</p>
            <p class="text-justify">Ante vulputate posuere sapien hac in enim fringilla est purus neque lectus, ullamcorper nam non cursus
                himenaeos diam aliquet porta laoreet sem tincidunt bibendum blandit turpis metus ullamcorper scelerisque
                justo turpis.</p>
            <p class="text-justify">Mollis ut euismod imperdiet eleifend donec erat felis tempor nulla class lectus senectus venenatis id
                conubia aptent fusce cubilia purus, in vivamus mattis hendrerit placerat sociosqu, suspendisse metus
                elementum lobortis.</p>
            <p class="text-justify">Neque nunc purus sem ullamcorper ultrices class phasellus, auctor lectus inceptos cursus justo
                scelerisque vestibulum, porta at dapibus auctor sociosqu volutpat orci faucibus maecenas curabitur
                varius sit cubilia habitasse pellentesque volutpat fames felis accumsan</p>
        </div>
    </div>
</div>
