<li class="list-group-item">
    <div class="input-group">

        <!--
            Text Input with (keyup.enter) event binding
                when ever user press enter in keyboard (keyup.enter) event will trigger
        -->
        <input #toDoTitle
               (keyup.enter)="emitAddClick(toDoTitle)"
               name="title"
               type="text"
               class="form-control"
               placeholder="Enter Todo Item">

        <div class="input-group-append">

            <!--
                Add Button with (click) event binding
            -->
            <button class="btn btn-primary"
                    (click)="emitAddClick(toDoTitle)"
                    type="button">Add</button>
        </div>
    </div>
</li>
